aes==1.2.0
aiogram==2.21
aiohttp==3.8.1
aiosignal==1.2.0
altgraph==0.17
appdirs==1.4.3
args==0.1.0
asgiref==3.2.10
astroid==2.4.2
async-timeout==4.0.2
asyncio==3.4.3
attrs==21.4.0
autopep8==2.0.0
Babel==2.9.1
beautifulsoup4==4.10.0
behave==1.2.6
bidict==0.21.3
bs4==0.0.1
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.15.1
chardet==3.0.4
charset-normalizer==2.1.0
chromedriver-autoinstaller==0.4.0
click==8.0.1
clicknium==0.1.7
clint==0.5.1
clr-loader==0.2.3
colorama==0.4.3
comtypes==1.1.13
constants==0.6.0
contextlib2==0.6.0
crayons==0.4.0
Crypto.Cipher==1
crypto==1.4.1
cssselect2==0.4.1
deprecation==2.1.0
distlib==0.3.0
distro==1.4.0
dj-database-url==0.5.0
django-appconf==1.0.5
django-cleanup==5.1.0
django-crispy-forms==1.9.2
django-heroku==0.3.1
django-modeltranslation==0.18.4
django-select2==8.0.0
Django==3.1.1
docx2pdf==0.1.8
docx==0.2.4
exceptiongroup==1.0.0
Faker==8.8.1
Flask==2.2.2
freegames==2.4.0
frozenlist==1.3.0
future==0.18.2
fuzzyfinder==2.1.0
glob2==0.7
gTTS==2.2.4
gunicorn==20.0.4
halo==0.0.31
html5lib==1.0.1
idna==2.8
img2pdf==0.4.4
importlib-metadata==4.12.0
iniconfig==1.1.1
inputimeout==1.0.4
ipaddr==2.2.0
isort==5.4.2
itsdangerous==2.1.2
Jinja2==3.1.2
keyboard==0.13.5
lazy-object-proxy==1.4.3
lockfile==0.12.2
log-symbols==0.0.14
lxml==4.9.1
Mako==1.2.3
MarkupSafe==2.1.1
mccabe==0.6.1
micropython-smtplib==0.0.0
MouseInfo==0.1.3
msgpack==0.6.2
multidict==6.0.2
Naked==0.1.32
numpy==1.21.2
opencv-python==4.5.3.56
opencv-utils==0.0.2
packaging==20.3
pandas==1.4.0
parse-type==0.6.0
parse==1.19.0
pdf2image==1.16.0
pefile==2021.5.24
pep517==0.8.2
piexif==1.1.3
pikepdf==6.2.0
Pillow-PIL==0.1.dev0
pillow==9.2.0
pip==21.1.1
pluggy==1.0.0
progress==1.5
prompt-toolkit==3.0.20
psycopg2-binary==2.9.5
psycopg2==2.9.5
py==1.11.0
PyAutoGUI==0.9.53
pycodestyle==2.9.1
pycparser==2.21
pygame-2048==1.9.4
pygame==2.1.2
PyGetWindow==0.0.9
Pygments==2.10.0
pyinstaller-hooks-contrib==2021.1
pyinstaller==4.3
pylint==2.6.0
PyMsgBox==1.0.9
PyMySQL==1.0.2
pynput==1.7.6
pyparsing==2.4.6
PyPDF2==2.11.1
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.28
PySimpleGUI==4.43.0
PySocks==1.5.7
pytesseract==0.3.10
pytest-bdd==6.0.1
pytest==7.2.0
python-dateutil==2.8.1
python-docx==0.8.11
python-engineio==4.2.1
python-socketio==5.4.0
pythonnet==3.0.0rc6
pytoml==0.1.21
pyttsx3==2.90
pytweening==1.0.4
pytz==2020.1
pywhatkit==5.4
pywin32-ctypes==0.2.0
pywin32==304
PyYAML==6.0
reportlab==3.5.67
requests==2.22.0
retrying==1.3.3
selenium==3.141.0
setuptools==56.0.0
shellescape==3.8.1
SimpleCrypt-Tools==0.2.1
six==1.15.0
socket-chatroom==0.1.0
socket-cli==0.1.7
soupsieve==2.3.1
spinners==0.0.24
sqlparse==0.3.1
stdiomask==0.0.6
stegano==0.9.9
stepic==0.5.0
svglib==1.1.0
tabulate==0.8.9
termcolor==1.1.0
text-unidecode==1.3
tinycss2==1.1.0
toml==0.10.1
tomli==2.0.1
tqdm==4.64.1
ttkthemes==3.2.2
typing-extensions==4.3.0
urllib3==1.25.8
urlopen==1.0.0
verifier==1.0.0
vthread==0.1.5
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==2.2.2
whitenoise==5.2.0
wikipedia==1.4.0
wrapt==1.12.1
xsmtplib==1.0.1.dev0
yarl==1.7.2
zipp==3.8.1
